@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


.hero {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}