@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.scrollToTop{
background-color: #686260;

width: 2.6rem;
height: 2.6rem;
border-radius: 50%;
position: fixed;
bottom: 2rem;
right: 3%;
text-align: center;
border: 1px solid rgba(255, 255, 255, 0.2);
font-size: 1.2rem;
z-index: 9999999999999;
display: flex;
justify-content: center;
align-items: center;
}

.scrollToTop:hover{
background-color: #686260;
border: 1px solid rgba(255, 255, 255, 0.2);


}




@media (max-width: 600px) {

.scrollToTop{
opacity: 0.5;
width: 2.2rem;
height: 2.2rem;
font-size: 1.1rem;
z-index: 999999;
}
}

body {
  --sb-track-color: #645f5f;
  --sb-thumb-color: #fb923c;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 27px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 27px;
  border: 1px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}